<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-5">
          <h3 class="footer-heading mb-4">Over {{ .Site.Title }}</h3>
          <p>{{ .Site.Data.show.description_long }}</p>
        </div>

        <div class="mb-5">
          <h3 class="footer-heading mb-4">Recente Afleveringen</h3>
          <div class="block-25">
            <ul class="list-unstyled">
              {{ range first 4 (where .Site.Pages "Type" "episode") }}
              {{ if .Params.episode }}
              <li class="mb-3">
                <a href="{{ .Permalink }}" class="d-flex">
                  <figure class="image mr-4">
                    <img src="{{ .Params.episode_image | absURL }}" alt="" class="img-fluid">
                  </figure>
                  <div class="text">
                    <h3 class="heading font-weight-light">Aflevering {{ .Params.episode }}: {{ .Title }}</h3>
                  </div>
                </a>
              </li>
              {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
        
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="row mb-5">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Links</h3>
          </div>
          <div class="col-md-6 col-lg-6">
            <ul class="list-unstyled">
              {{ range sort .Site.Menus.bottom1 "Identifier"}}
                <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </div>
          <div class="col-md-6 col-lg-6">
            <ul class="list-unstyled">
                {{ range sort .Site.Menus.bottom2 "Identifier"}}
                <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Follow Us</h3>

            <div>
              {{ partial "footer/social_links.html" . }}
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="mb-5">
          <h3 class="footer-heading mb-2">Subscribe</h3>
          <p><a href="{{ .Site.Data.show.spotify_subscribe}}"><img src="/img/spotify-podcast-badge.png" alt="Listen on Spotify"></a></p>
          <p><a href="{{ .Site.Data.show.itunes_subscribe}}" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-06-04T00:00:00Z&kind=podcast&bubble=podcasts) no-repeat;width:165px;height:40px;"></a></p>
          <p><a href="{{ .Site.Data.show.google_podcast}}"><img src="/img/google_podcasts_badge.png" alt="Listen on Google Podcast"></a></p>
          <p><a href="{{ .Site.Data.show.stitcher_subscribe}}"><img src="https://secureimg.stitcher.com/promo.assets/badges/Stitcher_Listen_Badge_Color_Light_BG.png" width="165"  alt="Listen to Stitcher"></a></p>
        </div>
      </div>
    </div>

    {{ if (isset .Site.Data.show "copyright_notice" ) }}
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
          {{ if (isset .Site.Data.show "copyright_notice" ) }}
          <p>{{ .Site.Data.show.copyright_notice | markdownify}}</p>
          {{ end }}
          <p>      
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Made with <a href="https://colorlib.com/wp/template/podca/">Podca template</a> <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
      </div>
    </div>
    {{ end }}
  </div>
</footer>

{{ partial "footer/footer_scripts.html" . }}